body {
  background-color: #DEB887;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 17px;
  line-height: 15px;
}

pre {
  background-color: #855C33
;
  padding: 10px;
  font-size: 15px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #0066FF;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #EBD4B7;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #EBD4B7;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
.panel-heading{
  background-color: #855C33 !important;

}